<h1>Panier de <%= @cart.user.email %></h1>
<% @cart.order_items.each do |order_item| %>
  <p><%= "#{order_item.item.title} - #{order_item.quantity}" %></p>
  <%= button_to "Supprimer", order_item_path(order_item), method: 'delete' %>
  <%= button_to "+", order_items_add_path(order_item) %>
  <%= button_to "-", order_items_reduce_path(order_item) %>
<% end %>
<%= button_to "Vider le panier", cart_path(@cart), method: 'delete' %>


<%= button_to "Payer - creer order", orders_path %>


